extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Header", [
                {
                    href: "/#section-1",
                    name: "Why"
                },
                {
                    href: "/#section-2",
                    name: "How"
                },
                {
                    href: "/#section-3",
                    name: "Sign Up"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
