section(class="canvas front" id="front")

    div(class="content")

        h2 Voyage

        div

            p Access practical knowledge while you work.

            div

                a(href="#section-2") Button 1
                a(href="#section-3") Button 2

    +nav-1({ target: "section-1", direction: "next" })
