section(class="canvas section-1" id="section-1")

    h2 Why

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Disorganized information is irritating. 

                p.
                    Get insight in <strong>seconds</strong>.

    +nav-1({ target: "section-2", direction: "next" })
