section(class="canvas section-2" id="section-2")

    h2 How

    div(class="content")


        div

  div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Checklists
                p. We're human. Refresh your memory on the go. 
                    

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Notes
                p. You don't know what you don't know.
                   

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Resources
                p. Timely vessel specific knowledge. 
                    
                   
          
                    

    +nav-1({ target: "section-3", direction: "next" })
