section(class="canvas section-2" id="section-2")

    h2 How

    div(class="content")


        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Checklists
                p.
                    Simple. 
                    Relevant. 
                    To the point. 

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Notes
                p.
                    Every vessel is different. 
                    Know what to expect. 
                    Add information for others to succeed.   

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Resources 
                p.
                    Snippets of relevant knowledge you can trust while you work. 
                   
          
                    

    +nav-1({ target: "section-3", direction: "next" })
