section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Farewell scattered information

                p.
                    Search for relevant information in less than 10 seconds.

    +nav-1({ target: "section-2", direction: "next" })
