section(class="canvas section-3" id="section-3")

    h2 Sign Up

   <form
  action="https://formspree.io/f/xqkjgvpj"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>

    +nav-1({ target: "front", direction: "prev" })
